{
    "github_enter_credentials": false,
    "github_username": "",
    "github_password": "",
    "github_organization": "",
    "github_save_cookies": true,
    "aws_access_key_id": "",
    "aws_access_key_secret": "",
    "aws_region": "",
    "slack_oauth_token": "",
    "slack_channel_id": ""
}
